@{
    ViewData["Title"] = "Felhasználók listája";
    @model IEnumerable<premozi.Models.User>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="text-light border-1">
            <th class="border-1">
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th class="border-1">
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th class="border-1">
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th class="border-1">
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th class="border-1">
                @Html.DisplayNameFor(model => model.account_status)
            </th>
            <th class="border-1">@Html.DisplayNameFor(model => model.priviledges)</th>
            <th class="border-1"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light border-1">
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.userID)
            </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.username)
            </td>
            <td class="border-1">
                    @Html.DisplayFor(modelItem => item.email)
            </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.account_status)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.priviledges)
                </td>
            <td class="border-1">
                <a asp-action="Edit" asp-route-id="@item.userID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
