@{
    ViewData["Title"] = "Filmek listája";
    @model dynamic;
    IEnumerable<premozi.Models.Film> bruh = Model.ToList();
}
<h1>Filmek listája</h1>
<table class="table">
    <thead>
        <tr class="text-light border-1">
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.id)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Cim)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Kategoria)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Mufaj)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Korhatar)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Jatekido)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Gyarto)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Rendezo)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Szereplok)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Leiras)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Eredeti_nyelv)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Eredeti_cim)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Szinkron)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.TrailerLink)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.IMDB)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.AlapAr)</th>
            <th class="border-1"> @Html.DisplayNameFor(model => bruh.Megjegyzes)</th>
            <th class="border-1"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in bruh) {
        <tr class="text-light border-1">
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.id)
            </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Cim)
            </td>
            <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Kategoria)
            </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Mufaj)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Korhatar)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Jatekido)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Gyarto)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Rendezo)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Szereplok)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Leiras)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Eredeti_nyelv)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Eredeti_cim)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Szinkron)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.TrailerLink)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.IMDB)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.AlapAr)
                </td>
                <td class="border-1">
                    @Html.DisplayFor(modelItem => item.Megjegyzes)
                </td>
            <td class="border-1">
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
